.footer {
    position: absolute;
	left: 0;
    bottom: 0;
    flex-shrink: 0;
	width: 100%;
    height: 44px;
    background-color: $dark-color;
    display: flex;
    justify-content: space-between;
    color: $base-color;
    font-weight: 100;
    padding: 0 60px;
    align-items: center;
    font-size: 14px;
    .pdf-link {
        text-decoration: none;
        color: $base-color;
        transition: color 0.3s  ease;
        padding-right: 20px;
        position: relative;
        &:hover {
            color: $contrast-color;
            transition: color 0.3s  ease;
        }
        &:hover svg g {
            fill: $contrast-color;
            transition: fill 0.3s  ease;
        }
        svg g {
            fill: $base-color;
            transition: fill 0.3s  ease;
        }
        svg {
            width: 18px;
            height: 28px;
            position: absolute;
            top: -6px;
            right: -2px;         
        }
    }
}

@media screen and (max-width: $bp-xs) { 
    .footer {
        padding: 0 20px;
        font-size: 12px;
        .pdf-link svg {
            width: 14px;
            height: 24px;    
        }
    }
}