
/* colors */
$base-color: #FFFFFF;
$dark-color: #202E3B;
$main-color: #2C91A2;
$contrast-color: #E7253B;
$text-color: #555555;

// $light-color: #F1F1F1;
// $green-color: #9CE09F;
// $red-color: #DF526B;
// $blue-color: #6286BB;

/* typography */
$font-common: 'Roboto Condensed', sans-serif;

/* breakpoints */
$bp-xs: 480px;
$bp-ssm: 668px;
$bp-sm: 768px;
$bp-md: 1200px;


